:root {
  --background-primary: hsl(225, 100%, 94%);
  --background-button: hsl(245, 75%, 52%);
  --background-card: hsl(0, 0%, 100%);
  --background-price: hsl(225, 100%, 98%);

  --text-color: hsl(224, 23%, 55%);
  --heading-color: hsl(223, 47%, 23%);
}
