@use '../utilities/' as *;

.card {
  text-align: center;
  min-height: rem(568);
  background-color: var(--background-card);
  border-radius: rem(10);
  display: flex;
  flex-direction: column;

  @include breakpoint-up(medium) {
    min-height: rem(697);
  }

  &__image {
    background: url('/images/illustration-hero.svg') no-repeat center center /
      cover;
    border-radius: rem(10) rem(10) 0 0;
    max-width: 100%;
    height: rem(160);

    @include breakpoint-up(medium) {
      height: rem(222);
      margin-bottom: rem(30);
    }
  }

  &__description {
    padding: rem(24);

    @include breakpoint-up(medium) {
      padding-left: rem(48);
      padding-right: rem(48);
    }
  }

  &__header {
    color: var(--heading-color);
    font-weight: 900;

    @include breakpoint-up(medium) {
      font-size: rem(24);
    }
  }

  &__text {
    line-height: 1.4;
    margin-bottom: rem(25);

    @include breakpoint-up(medium) {
      font-size: rem(16);
      margin-bottom: rem(21);
      padding-left: rem(20);
      padding-right: rem(20);
    }
  }

  &__offer {
    border-radius: rem(10);
    background-color: var(--background-price);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: rem(7);

    &.price {
      display: flex;
      flex-direction: column;
      gap: rem(2);
      margin-right: rem(30);

      & span:first-child {
        color: var(--heading-color);
        font-weight: 700;
      }
    }

    & span a {
      font-weight: 700;
      color: var(--background-button);
      text-decoration: underline;

      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }

  &__cta {
    background-color: var(--background-button);
    padding: rem(15);
    margin-top: rem(23);
    border-radius: rem(10);
    cursor: pointer;
    box-shadow: #00000059 0px 7px 50px 1px;

    &:hover {
      opacity: 0.7;
    }

    & a {
      font-weight: 800;
      color: #fff;
    }

    @include breakpoint-up(medium) {
      margin-top: rem(31);
    }
  }

  &__cancel {
    margin-top: rem(34);

    & a {
      color: var(--text-color);

      &:hover {
        color: var(--heading-color);
        font-weight: 800;
        // opacity: 0.7;
      }
    }

    @include breakpoint-up(medium) {
      margin-top: rem(31);
    }
  }
}
